$color-blanco: #fff;
$color-negro: #1a1a1a;
$color-bisque: bisque;
$color-gris-claro: rgba($color-blanco, 0.192);

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Mono', monospace;
}

#fondo {
  background-color: $color-negro;
  background-image: url(../Images/rayos.jpg);
}

#background {
  text-align: center;
  margin-top: 2px;

  img {
    width: 62%;
  }

  h1 {
    color: $color-blanco;
  }
}

p {
  color: $color-bisque;
}

@media screen and (max-width: 600px) {
  .section {
    width: 100%;

    img,
    p,
    h5 {
      display: block;
      text-align: center;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 601px) {
  .section {
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }
}

.footer {
  text-align: center;

  hr {
    margin: 0 100px 0 100px;
  }

  div {
    margin: 40px;
  }

  img {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid;
    border-color: $color-gris-claro;
  }

  p {
    text-align: center;
    color: $color-bisque;
  }
}

/* Repertorio */

 .album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.cancion {
  width: 30%;
  margin: 0 10px 30px;
}
@media (max-width: 767px) {
  .cancion {
    width: 100%;
  }
}


.img-size{
    width: 350px;
    height: 200px;
}


/* ANIMACION INDEX */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInUp{ 
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.uno {
  animation-name: fadeInUp;
}
.dos{ 
  animation-name: fadeInUp;
  animation-delay: 0.5s;
}
.tres {
  animation-name: fadeInUp;
  animation-delay: 1s;
}

/* ANIMACION MENU HAMBURGUESA */

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  animation: rotate 1s forwards;
}

.navbar-toggler-icon {
  animation: rotate 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}



/* FORMULARIO */

.form-control:focus {
  border-color: #4d4dff;
  box-shadow: none;
}


.btn-primary:hover {
  background-color: #4d4dff;
  border-color: #4d4dff;
}


form {
  max-width: 500px;
  margin: auto;
  position: relative;
  animation-name: slidein;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
}

@keyframes slidein {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
